<div class="row">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Update {{vm.title}}</h4>
  </div>
  <form ng-submit="vm.edit()" name="form">
    <div class="panel-body">

      <wp-input wp-label="Name" wp-type="text" wp-model="vm.entity.name" wp-focus="true" wp-required="true" ng-cloak>{{vm.entity.name}}</wp-input>
      <div><b>Course dependency: {{vm.entity.courseDependency.name}}</b></div>
      <div class="form-group">
        <label>Course dependency</label>
        <ui-select ng-model="vm.entity.courseDependency"
                   title="Choose another dependecy course"
                   ng-required="false">
          <ui-select-match
            placeholder="Select course...">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices
            repeat="item in (vm.courses | filter:$select.search )"
            position="auto">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>

    </div>
    <div class="panel-footer text-right">
      <div class="panel panel-danger text-center text-danger" ng-show="vm.saveErrMsg">
        {{vm.saveErrMsg}}
      </div>
      <div class="panel panel-success text-center text-success" ng-show="vm.saveOkMsg">
        {{vm.saveOkMsg}}
      </div>
      <button class="btn btn-danger" type="reset"
              ng-click="vm.remove()">
        <i class="fa fa-fw fa-remove"></i>
        Remove
      </button>
      <button class="btn btn-primary"
              type="update"
              ng-click="vm.edit()">
        <i class="fa fa-fw fa-save"></i>
        Update
      </button>
    </div>

  </form>
</div>
</div>


<div class="row">
  <div class="col-md-12">
  <div class="form-group">
    <label>Assign new student</label>
    <ui-select ng-model="vm.selectedStudent"
               title="Assign student to this course">
      <ui-select-match
        placeholder="Select student...">
        <span>{{$select.selected.index}} - {{$select.selected.name}} {{$select.selected.surname}}</span>
      </ui-select-match>
      <ui-select-choices
        repeat="item in (vm.students | filter:$select.search )"
        position="auto">
        {{item.index}} - {{item.name}} {{item.surname}}
      </ui-select-choices>
    </ui-select>
    <br>
    <button class="btn btn-default pull-right" type="reset"
            ng-click="vm.assignStudent()">
      <i class="fa fa-fw fa-plus-circle"></i>
      Assign
    </button>
    <br>
    <br>
  </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label ng-show="vm.assignedStudents.length>0">Assigned students: {{vm.assignedStudents.length}}</label>
    <table ng-show="vm.assignedStudents.length>0" class="table table-bordered table-striped">
      <tr>
        <th>
          <button ng-click="vm.sortBy('index')" class="btn btn-default">Index &nbsp; <i
            class="fa fa-x fa-sort"></i></button>
        </th>
        <th>Name</th>
        <th>Surname</th>
      </tr>
      <tr ng-repeat="e in vm.assignedStudents | orderBy:vm.propertyName:vm.reverse | filter:vm.search">
        <td>{{e.index}}</td>
        <td>{{e.name}}</td>
        <td>{{e.surname}}</td>
      </tr>
    </table>

    <div class="panel panel-warning text-warning" ng-hide="vm.assignedStudents.length>0">
      There are no assigned Students to this course!
    </div>
  </div>
</div>
