<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger text-center text-danger" ng-show="vm.ErrMsg">
      {{vm.ErrMsg}}
    </div>
    <div class="panel panel-success text-center text-success" ng-show="vm.OkMsg">
      {{vm.OkMsg}}
    </div>
  </div>
  <div class="col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Add or update {{vm.title}}</h4>
  </div>
  <form ng-submit="vm.save()" name="form">
    <div class="panel-body">

      <wp-input wp-label="Name" wp-type="text" wp-model="vm.entity.name" wp-focus="true" wp-required="true"
                ng-cloak></wp-input>
      <div class="form-group">
        <label>Course dependency</label>
        <ui-select ng-model="vm.entity.courseDependency"
                   title="Choose dependecy course"
                   ng-required="false">
          <ui-select-match
            placeholder="Select course...">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices
            repeat="item in (vm.entities | filter:$select.search )"
            position="auto">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>

    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" type="reset"
              ng-click="vm.clear()">
        <i class="fa fa-fw fa-refresh"></i>
        Clear
      </button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="form.$invalid">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>

  </form>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="input-group" ng-show="vm.entities.length>0">
      <input type="text" class="form-control" placeholder="Search for group" ng-model="vm.search.name">
      <span class="input-group-addon">
        <i class="fa fa-x fa-search"></i>
      </span>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <table ng-show="vm.entities.length>0" class="table table-bordered table-striped">
      <tr>
        <th>
          <button ng-click="vm.sortBy('name')" class="btn btn-default">Course Name &nbsp; <i
            class="fa fa-x fa-sort"></i></button>
        </th>
        <th>Dependency Course</th>
        <th> Number of students </th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="e in vm.entities | orderBy:vm.propertyName:vm.reverse | filter:vm.search">
        <td><a ui-sref="course({id:e.id})">{{e.name}}</a></td>
        <td><a ui-sref="course({id:e.courseDependency.id})">{{e.courseDependency.name}}</a></td>
        <td>{{e.numOfStudents}}</td>
        <td>
          <button class="btn btn-xs btn-default"
                  ng-click="vm.edit(e)">
            <i class="fa fa-x fa-pencil"></i>&nbsp;Edit
          </button>
          <button class="btn btn-xs btn-danger"
                  ng-click="vm.remove(e)">
            <i class="fa fa-x fa-trash"></i>&nbsp;Remove
          </button>
        </td>
      </tr>
    </table>

    <div class="panel panel-warning text-warning" ng-hide="vm.entities.length>0">
      There are no courses!
    </div>
  </div>
</div>
  </div>
</div>
