.main-page {
  margin-top: 50px;
}

.top-buffer {
  margin-top: 20px;
}

.clickable {
  cursor: pointer;
}

body{
  background: url(http://old.finki.ukim.mk/style/images/frontEnd/layout/bg-body.jpg) center top repeat-x #fbfbfb;;
}
